.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.TopBanner {
    position: sticky;
    top: 0;
    left: 0;
    font-size: 13px;
    line-height: 25px;
    background: #000;
    color: #fff;
    z-index: 999;
    text-align: center;
}

.Header {
    position: sticky;
    top: 25px;
    left: 0;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.Header .container {
    line-height: 100px;
    justify-content: space-between;
}

.Header .container img {
    vertical-align: middle;
}

.Header .container .main_menu {
    display: flex;
    gap: 50px;
}

.Header .container .main_menu>li {
    position: relative;
    font-size: 20px;
    font-weight: 700;
}

.Header .container .main_menu>li::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 25px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #000;
    opacity: 0;
    visibility: hidden;
}

.Header .container .main_menu>li .sub_menu {
    position: fixed;
    display: flex;
    gap: 100px;
    line-height: 50px;
    top: 126px;
    left: 351px;
    width: 1200px;
    background: #fff;
    padding: 0 20px;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

.Header .container .main_menu>li .sub_menu::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 180px;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background: #ddd;
}

.Header .container .main_menu>li:hover .sub_menu {
    opacity: 1;
    visibility: visible;
}

.Header .container .main_menu>li .sub_menu .sub_main li {
    font-size: 17px;
    font-weight: 700;
}

.Header .container .main_menu>li .sub_menu .sub_content {
    display: flex;
    gap: 100px;
}

.Header .container .main_menu>li .sub_menu .sub_content li {
    position: relative;
    width: 100px;
    font-size: 15px;
    font-weight: 700;
}

.Header .container .main_menu>li .sub_menu .sub_content>li>ul>li {
    width: 100px;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
}

.Header .container .main_menu li:hover::after {
    opacity: 1;
    visibility: visible;
}

.Header .container .main_menu li .sub_menu .sub_content>li::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    top: 38px;
    left: 0;
    background: #000;
}

.Header .container .login_menu {
    display: block;
}

.Header .container .login_menu ul {
    display: flex;
    gap: 20px;
}

.Header .container .login_menu ul li {
    font-size: 13px;
}

.Header .container .lo .MainVisual {
    padding: 0 0 100px 0;
}

.MainVisual {
    position: relative;
}

.MainVisual .MainSlider figure {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 0 50px 0;
}

.MainVisual .MainSlider .itm01 {
    background-image: url(../public/images/MainVisual01.jpg);
}

.MainVisual .MainSlider .itm02 {
    background-image: url(../public/images/MainVisual02.jpg);
}

.MainVisual .MainSlider .itm03 {
    background-image: url(../public/images/MainVisual03.jpg);
}

.MainVisual .MainSlider .itm04 {
    background-image: url(../public/images/MainVisual04.jpg);
}

.MainVisual .MainSlider .itm05 {
    background-image: url(../public/images/MainVisual05.jpg);
}

.MainVisual .MainSlider .inner_box {
    text-align: center;
}

.MainVisual .MainSlider .inner_box h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.MainVisual .MainSlider .inner_box p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.MainVisual .MainSlider .inner_box a {
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid #000;
    border-radius: 10px;
    transition: 0.5s;
}

.MainVisual .MainSlider .inner_box a:hover {
    background: #000;
    color: #fff;
}

.MainVisual .slideArrow button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: #bbb;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.MainVisual .slideArrow button:nth-child(1) {
    margin: 0 0 0 -850px;
}

.MainVisual .slideArrow button:nth-child(2) {
    margin: 0 0 0 850px;
}

.Headwear {
    padding: 100px 0;
    text-align: center;
}

.Headwear figure {
    margin: 0 0 50px 0;
}

.Headwear h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.Headwear p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.Headwear a {
    display: inline-block;
    margin: 0 20px;
    padding: 20px 40px;
    border: 1px solid #000;
    border-radius: 10px;
    transition: 0.5s;
}

.Headwear a:hover {
    background: #000;
    color: #fff;
}

.Viewall {
    padding: 100px 0;
    background: #ddd;
}

.Viewall .container {
    display: flex;
    gap: 30px;
}

.Viewall .container figure {
    position: relative;
    cursor: pointer;
}

.Viewall .container figure img {
    width: 100%;
    filter: brightness(0.5);
    transition: 0.5s;
}

.Viewall .container figure:hover img {
    filter: brightness(0.8);
}

.Viewall .container figure .figure_inner {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.Viewall .container figure .figure_inner strong {
    display: block;
    color: #fff;
    line-height: 1.414;
}

.Instagram figure {
    height: 602px;
}

.Footertop {
    padding: 100px;
    background: #000;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.Footertop .container .footer_nav ul {
    display: flex;
    gap: 100px;
}

.Footertop .container .footer_nav ul li {
    font-size: 15px;
    font-weight: 700;
}

.Footertop .container .footer_nav ul li>ul {
    display: block;
    width: 130px;
    margin: 10px 0 0 0;
}

.Footertop .container .footer_nav ul li>ul>li {
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
}

.Footertop .container .footer_nav ul li>.flex_ul {
    display: flex;
    gap: 10px;
}

.Footertop .container .footer_nav ul li>.flex_sns {
    display: flex;
    gap: 10px;
}

.Footertop .container .footer_nav ul li>.flex_sns i {
    font-size: 30px;
}

.Footertop span {
    display: inline-block;
    border: 1px solid #fff;
    padding: 3px 5px;
}

.Footerbottom {
    padding: 50px 0;
    background: #000;
    color: #fff;
}

.Footerbottom .container {
    justify-content: space-between;
}


.Footerbottom .container ul {
    display: flex;
    gap: 10px;
    margin: 0 0 10px 0;
}

.Footerbottom .container ul li {
    font-size: 13px;
    font-weight: 700;
}

.Footerbottom .container p {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.414;
}

.Bottombanner {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    display: block;
    background: #fff;
    color: #000;
    text-align: center;
    border-top: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.Bottombanner.on {
    opacity: 1;
    visibility: visible;
}

.Bottombanner i {
    cursor: pointer;
}